$cwhite: #fff;
$cmilk: #fefbd8;
$cblack: #111;
$clightblack: #333333;
$caqua: #d5f4e6;
$clightblue: #80ced6;
$cgray: #618685;

$corange: #ec8700;
$clightorange: #f8bc05;


$ftitillium: 'Titillium Web', sans-serif;
$fopen: 'Open Sans', sans-serif;